# Ignore everything by default
/*

# Except project directories
!/annotations/
!/mod/
!/.claude/
!.gitignore
!README.md
!/in_game/common/
!/in_game/events/
!/in_game/setup/
!/main_menu/common/static_modifiers/

# Within mod directories, ignore backup/temp files
mod/**/*.mod.backup
mod/**/*.mod.old
mod/**/*.tmp
